.betoffer-container {
  flex-basis: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 350px;
}

.event {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: .7em;
}

.outcomes {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.outcome {
  display: flex;
  margin: 3px 5px;
  flex: 1;
  overflow: hidden;
}

.betoffer-label {
  text-align: left;
  padding-left: .5em;
}

@media screen and (max-width: 768px) {
  .betoffer-container {
    flex-basis: 100%;
  }

  .event:not(:global(.main)) {
    display: none;
  }
}
