.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #fff;
  text-shadow: 0 0 2px #000;
  margin: 1rem auto;
  padding: 0.5rem;
  max-width: 1200px;

  &Mobile {
    flex-wrap: wrap;
  }
}
